<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('../partials/_navbar.ejs') %>
      <div class="body">
        
        <div class="left">
          <div class="up">
            <p>Sign In</p>
          </div>
          <form action="/auth/sign-in" method="POST">
            <label for="username">
              <span class="s1">Username</span>
            </label>
            <input class="input" type="text" name="username" id="username" required />
            <label for="password">
              <span class="s2">Password</span>
            </label>
            <input class="input" type="password" name="password" id="password" required />
            <button class="sub" type="submit">Sign In</button>
          </form>
         
          <div class="down">
            
            
          </div>
        </div>
       
      </div>
    </div>
  </body>
</html>
